RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "UART_rxd" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "rstn" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=LARGE ;
IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UART_txd" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "USER_LED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "P[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "LEDS[0]" SITE "A6" ;
LOCATE COMP "LEDS[1]" SITE "B4" ;
LOCATE COMP "LEDS[2]" SITE "A5" ;
LOCATE COMP "LEDS[3]" SITE "B3" ;
LOCATE COMP "LEDS[4]" SITE "A3" ;
LOCATE COMP "LEDS[5]" SITE "B1" ;
LOCATE COMP "LEDS[6]" SITE "A2" ;
LOCATE COMP "LEDS[7]" SITE "A1" ;
LOCATE COMP "USER_LED" SITE "A34" ;
LOCATE COMP "P[0]" SITE "B24" ;
LOCATE COMP "P[1]" SITE "A30" ;
LOCATE COMP "P[2]" SITE "B21" ;
LOCATE COMP "P[3]" SITE "B20" ;
LOCATE COMP "P[4]" SITE "B23" ;
LOCATE COMP "P[5]" SITE "B22" ;
LOCATE COMP "P[6]" SITE "A28" ;
LOCATE COMP "P[7]" SITE "A27" ;
LOCATE COMP "UART_rxd" SITE "B8" ;
LOCATE COMP "UART_txd" SITE "A9" ;
LOCATE COMP "rstn" SITE "B29" ;
LOCATE COMP "clk" SITE "A44" ;
BLOCK JTAGPATHS ;
LOCATE COMP "USER_BUTTON" SITE "A33" ;
IOBUF PORT "USER_BUTTON" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=LARGE ;
USE PRIMARY NET "clk_c" ;
FREQUENCY NET "clk_c" 12.000000 MHz ;
FREQUENCY NET "U0/cclk" 12.000000 MHz ;
